name: Android CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]



jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Set Up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 1.8



      - name: Build Project
        run: ./gradlew assembleRelease

      - name: 上传APK到Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release-apk
          path: app/build/outputs/apk/**/*.apk
